In [2]:
# imports
import pandas as pd
import requests
import time
import os   
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [12]:
df_barcelona2 = pd.read_csv("../Downloads/barcelona_bikes.csv")    

results = [] 

for index, row in df_barcelona2.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']


    url = "https://api.foursquare.com/v3/places/search"

    params = {
        'll': f'{latitude},{longitude}',
        'categoryId': '13000,12013',    # for restaurants and bars
        'radius': 1000,
        'fields': 'name,location,rating,categories,distance,description,popularity,price',
        'sort': 'RATING'
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3m5MbEYLkUCci/RnQ/24+FkYWsR79yM/2FgAV3+VN7ec="
    }

    response = requests.request("GET", url, params=params, headers=headers)
    if response.status_code != 200:
        print("Request failed. Status code:", response.status_code)
    else:
    # Parse the JSON response
        data = response.json()      

    res = data.get('results')
    fr = pd.DataFrame(res)
    results.append({
        'Latitude': latitude,
        'Longitude': longitude,
        'Foursq. Name': fr['name'],
        'Distance': fr['distance'],
        'Rating': fr['rating'],
        'Popularity': fr['popularity']
        })

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

In [13]:
data_foursquare = pd.DataFrame(results )

data_foursquare

,Latitude,Longitude,Foursq. Name,Distance,Rating,Popularity
0,41.388125,2.195187,0 Cascada Monumental 1 ...,0 732 1 514 2 206 3 325 4 491 5...,0 9.3 1 9.2 2 9.2 3 9.1 4 9.0 5...,0 0.999424 1 0.974153 2 0.996614 3 ...
1,41.436687,2.169313,0 Cuina Melitón 1 ...,0 882 1 718 2 929 3 969 4 401 5...,0 8.6 1 8.5 2 8.4 3 8.4 4 8.4 5...,0 0.505956 1 0.983477 2 0.917989 3 ...
2,41.409135,2.208818,0 Bar Andalucía ...,0 678 1 536 2 441 3 953 4 ...,0 9.1 1 8.8 2 8.7 3 8.7 4 8.7 5...,0 0.983288 1 0.987114 2 0.981486 3 ...
3,41.389462,2.131495,0 El Corte Inglés 1 Hidden Café Ba...,0 369 1 379 2 742 3 452 4 297 5...,0 9.0 1 9.0 2 8.9 3 8.8 4 8.8 5...,0 0.998280 1 0.987682 2 0.968525 3 ...
4,41.391767,2.153216,0 Parking Pizza 1 Casa Batlló 2 ...,0 289 1 983 2 557 3 917 4 728 5...,0 9.4 1 9.4 2 9.4 3 9.2 4 9.2 5...,0 0.985759 1 0.999966 2 0.996797 3 ...
...,...,...,...,...,...,...
502,41.416793,2.205834,0 Bar Lafuente 1 ...,0 715 1 309 2 452 3 802 4 886 5...,0 8.5 1 8.3 2 8.2 3 8.2 4 8.0 5...,0 0.953059 1 0.899611 2 0.976448 3 ...
503,41.410801,2.187244,0 Bodega Carol 1 ...,0 471 1 230 2 347 3 338 4 642 5...,0 8.9 1 8.9 2 8.8 3 8.8 4 8.8 5...,0 0.988840 1 0.992077 2 0.904215 3 ...
504,41.380318,2.154437,0 Roast Club 1 ...,0 856 1 253 2 872 3 931 4 737 5...,0 9.4 1 9.4 2 9.2 3 9.2 4 9.1 5...,0 0.996797 1 0.993851 2 0.968309 3 ...
505,41.362123,2.135619,0 Granja Elena 1 ...,0 166 1 883 2 991 3 588 4 661 5...,0 9.0 1 8.9 2 8.6 3 8.5 4 8.5 5...,0 0.981439 1 0.983030 2 0.983139 3 ...
506,41.383261,2.139266,0 Bodega la General 1 Seny...,0 797 1 887 2 987 3 890 4 265 5...,0 9.2 1 9.1 2 9.0 3 9.0 4 9.0 5...,0 0.958463 1 0.979712 2 0.998280 3 ...

In [14]:
# File path for the CSV
csv_file_path = "../Downloads/fs_places.csv"

#DataFrame saved as CSV
data_foursquare.to_csv(csv_file_path, index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [17]:
import requests

df_barcelona2 = pd.read_csv("../Downloads/barcelona_bikes.csv") 

results = []

for index, row in df_barcelona2.iterrows():       # df_barcelona2 is data from CityBikes API already instantiated in Yelp API request above.
    latitude = row['Latitude']
    longitude = row['Longitude']

    url = "https://api.yelp.com/v3/businesses/search?location=Barcelona"

    params = {
        "categories": "restaurants, bars",
        "ll": f'{latitude},{longitude}', # 'Location =  Barcelona, Spain'
        'fields': 'name,location,rating,categories,distance,description,popularity,price',
        "radius": 1000,
        "location": "Barcelona, Spain",
        "sort":"DISTANCE"
    }
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer SVUlqSugiNxadP6ZMRaD2KJZFqo6fdgo4zTdc5LL9w30i9gW3wqOUVb57SQg1x49mMZzW09IWTreyIwxqGrPtc01RFd9Jq-TXmv_r7Rh5EkA4wTmCre7ouR_luoRZXYx"
    }

    response = requests.get(url, headers=headers)

    if response.status_code != 200:
            print("Request failed. Status code:", response.status_code)
    else:
        # Parse the JSON response
        data = response.json()                                     
    yelp_results = data.get('businesses', [])
    frame = pd.DataFrame(yelp_results)
    results.append({
        'Latitude': latitude,
        'Longitude': longitude,
        'Yelp Name': frame['name'],
        'Distance': frame['distance'],
        'Review count': frame['review_count'],
        'Rating': frame['rating'],
        'Price': frame['price']
        })

Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429
Request failed. Status code: 429

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [207]:
# Check if the request was successful (a status code 200 should be given)
if response.status_code != 200:
        print("Request failed. Status code:", response.status_code)
else:
    # Parse the JSON response
    data = response.json()

In [260]:
yelp_results = data.get('businesses', [])
frame = pd.DataFrame(yelp_results)
results.append({
'Latitude': latitude,
'Longitude': longitude,
'Yelp Name': frame['name'],
'Distance': frame['distance'],
'Review count': frame['review_count'],
'Rating': frame['rating'],
'Price': frame['price']
})

In [18]:
#Put your parsed results into a DataFrame
data_yelp = pd.DataFrame(results) 
data_yelp

,Latitude,Longitude,Yelp Name,Distance,Review count,Rating,Price
0,41.388125,2.195187,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
1,41.436687,2.169313,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
2,41.409135,2.208818,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
3,41.389462,2.131495,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
4,41.391767,2.153216,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
...,...,...,...,...,...,...,...
502,41.416793,2.205834,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
503,41.410801,2.187244,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
504,41.380318,2.154437,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
505,41.362123,2.135619,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...
506,41.383261,2.139266,0 Cerveseria Catalana 1 ...,0 267.776322 1 1402.044404 2 1420...,0 1525 1 707 2 578 3 334 4 ...,0 4.5 1 4.5 2 4.5 3 4.5 4 ...,0 €€ 1 €€ 2 €€ 3 €€€ 4 ...

Put your parsed results into a DataFrame

In [19]:
 # Specify the file path for the CSV
csv_file_path = "../Downloads/yelp_places.csv"

# Save the DataFrame to CSV
data_yelp.to_csv(csv_file_path, index=False)

In [ ]:
# Comparing Results

Which API provided you with more complete data? Provide an explanation.

In [20]:
data_foursquare.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Latitude      507 non-null    float64
 1   Longitude     507 non-null    float64
 2   Foursq. Name  507 non-null    object
 3   Distance      507 non-null    object
 4   Rating        507 non-null    object
 5   Popularity    507 non-null    object
dtypes: float64(2), object(4)
memory usage: 23.9+ KB

Get the top 10 restaurants according to their rating

In [21]:
# Transforming the data
data_foursquare['Average_dist_F'] = data_foursquare['Distance'].apply(lambda x: sum(x) / len(x))
data_foursquare['Average_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: sum(x) / len(x))
data_foursquare['Average_rating_F'] = data_foursquare['Rating'].apply(lambda x: sum(x) / len(x))

data_foursquare['Max_rating_F'] = data_foursquare['Rating'].apply(lambda x: max(x))
data_foursquare['Max_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: max(x))

data_foursquare['Min_rating_F'] = data_foursquare['Rating'].apply(lambda x: min(x))
data_foursquare['Min_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: min(x))

In [23]:
# Further_cleaning
data_foursquare.drop(columns=['Foursq. Name', 'Distance', 'Popularity', 'Rating'], inplace=True)
data_foursquare

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Max_rating_F,Max_popularity_F,Min_rating_F,Min_popularity_F
0,41.388125,2.195187,672.1,0.989190,8.95,9.3,0.999424,8.7,0.974153
1,41.436687,2.169313,840.8,0.832867,8.39,8.6,0.983477,8.2,0.253076
2,41.409135,2.208818,711.7,0.979793,8.66,9.1,0.996431,8.4,0.961178
3,41.389462,2.131495,549.4,0.965750,8.78,9.0,0.998280,8.6,0.924402
4,41.391767,2.153216,760.7,0.989222,9.23,9.4,0.999966,9.1,0.944547
...,...,...,...,...,...,...,...,...,...
502,41.416793,2.205834,562.5,0.845017,8.03,8.5,0.976448,7.7,0.046271
503,41.410801,2.187244,480.8,0.956308,8.74,8.9,0.992382,8.6,0.888011
504,41.380318,2.154437,646.4,0.988085,9.18,9.4,0.999932,9.1,0.968309
505,41.362123,2.135619,651.6,0.970252,8.49,9.0,0.986369,8.1,0.899130
506,41.383261,2.139266,658.7,0.972727,9.01,9.2,0.998280,8.9,0.937857

In [24]:
data_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Latitude      507 non-null    float64
 1   Longitude     507 non-null    float64
 2   Yelp Name     507 non-null    object
 3   Distance      507 non-null    object
 4   Review count  507 non-null    object
 5   Rating        507 non-null    object
 6   Price         507 non-null    object
dtypes: float64(2), object(5)
memory usage: 27.9+ KB

In [25]:
data_foursquare.describe()

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Max_rating_F,Max_popularity_F,Min_rating_F,Min_popularity_F
count,507.000000,507.000000,507.000000,507.000000,504.000000,507.000000,507.000000,507.000000,507.000000
mean,41.399739,2.168105,1980.614004,0.955652,8.857996,9.197830,0.996190,8.628994,0.820356
std,0.021109,0.024651,17039.750814,0.055936,0.443847,0.317623,0.006470,0.579430,0.259043
min,41.346775,2.109154,303.200000,0.577602,6.770000,7.600000,0.955138,5.800000,0.039059
25%,41.383591,2.149100,610.000000,0.954741,8.580000,9.100000,0.995314,8.300000,0.886311
50%,41.396141,2.170732,670.400000,0.975577,9.030000,9.300000,0.999675,8.800000,0.931282
75%,41.412057,2.187263,737.300000,0.989222,9.200000,9.400000,0.999912,9.100000,0.966182
max,41.462095,2.220691,222693.900000,0.998537,9.350000,9.500000,0.999980,9.200000,0.995741

In [26]:
# Transforming the data
data_yelp['Average_distance_Y'] = data_yelp['Distance'].apply(lambda x: sum(x) / len(x))
data_yelp['Average_review_count_Y'] = data_yelp['Review count'].apply(lambda x: sum(x) / len(x))
data_yelp['Average_rating_Y'] = data_yelp['Rating'].apply(lambda x: sum(x) / len(x))

data_yelp['Max_rating_Y'] = data_yelp['Rating'].apply(lambda x: max(x))
data_yelp['Max_review_count'] = data_yelp['Review count'].apply(lambda x: max(x))

data_yelp['Min_rating_Y'] = data_yelp['Rating'].apply(lambda x: min(x))
data_yelp['Min_review_count'] = data_yelp['Review count'].apply(lambda x: min(x))

In [27]:
# Further_cleaning

data_yelp.drop(columns=['Yelp Name', 'Distance', 'Review count', 'Rating', 'Price'], inplace=True)
data_yelp

,Latitude,Longitude,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Max_rating_Y,Max_review_count,Min_rating_Y,Min_review_count
0,41.388125,2.195187,1095.135294,479.95,4.45,5.0,1525,4.0,75
1,41.436687,2.169313,1095.135294,479.95,4.45,5.0,1525,4.0,75
2,41.409135,2.208818,1095.135294,479.95,4.45,5.0,1525,4.0,75
3,41.389462,2.131495,1095.135294,479.95,4.45,5.0,1525,4.0,75
4,41.391767,2.153216,1095.135294,479.95,4.45,5.0,1525,4.0,75
...,...,...,...,...,...,...,...,...,...
502,41.416793,2.205834,1095.135294,479.95,4.45,5.0,1525,4.0,75
503,41.410801,2.187244,1095.135294,479.95,4.45,5.0,1525,4.0,75
504,41.380318,2.154437,1095.135294,479.95,4.45,5.0,1525,4.0,75
505,41.362123,2.135619,1095.135294,479.95,4.45,5.0,1525,4.0,75
506,41.383261,2.139266,1095.135294,479.95,4.45,5.0,1525,4.0,75

In [28]:
data_yelp.describe()

,Latitude,Longitude,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Max_rating_Y,Max_review_count,Min_rating_Y,Min_review_count
count,507.000000,507.000000,5.070000e+02,5.070000e+02,5.070000e+02,507.0,507.0,507.0,507.0
mean,41.399739,2.168105,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
std,0.021109,0.024651,2.275982e-13,5.689956e-14,8.890556e-16,0.0,0.0,0.0,0.0
min,41.346775,2.109154,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
25%,41.383591,2.149100,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
50%,41.396141,2.170732,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
75%,41.412057,2.187263,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
max,41.462095,2.220691,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0

In [29]:
# Top 10 restaurants according to rating...from Foursquare data
data_foursquare.sort_values('Max_rating_F', ascending=False).head(10)

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Max_rating_F,Max_popularity_F,Min_rating_F,Min_popularity_F
139,41.400101,2.184171,859.7,0.994763,9.23,9.5,0.99998,9.0,0.974430
449,41.404862,2.174799,396.7,0.995633,9.29,9.5,0.99998,9.1,0.971383
108,41.410314,2.175733,636.4,0.993843,9.27,9.5,0.99998,9.1,0.971383
36,41.406059,2.174047,425.8,0.994820,9.25,9.5,0.99998,8.9,0.971383
484,41.401061,2.169941,577.5,0.997083,9.27,9.5,0.99998,9.1,0.991698
165,41.401697,2.175767,455.9,0.997708,9.29,9.5,0.99998,9.1,0.992585
352,41.396984,2.166185,768.5,0.991404,9.28,9.5,0.99998,9.2,0.944547
351,41.400578,2.178885,596.8,0.994509,9.26,9.5,0.99998,9.1,0.962160
481,41.405446,2.166317,743.0,0.993843,9.27,9.5,0.99998,9.1,0.971383
478,41.404052,2.181199,638.5,0.996844,9.22,9.5,0.99998,8.9,0.988840

In [30]:
# Top 10 restaurants according to their rating.
data_yelp.sort_values('Max_rating_Y', ascending=False).head(10)

,Latitude,Longitude,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Max_rating_Y,Max_review_count,Min_rating_Y,Min_review_count
0,41.388125,2.195187,1095.135294,479.95,4.45,5.0,1525,4.0,75
333,41.410596,2.157990,1095.135294,479.95,4.45,5.0,1525,4.0,75
346,41.399017,2.124329,1095.135294,479.95,4.45,5.0,1525,4.0,75
345,41.382680,2.167120,1095.135294,479.95,4.45,5.0,1525,4.0,75
344,41.398167,2.175490,1095.135294,479.95,4.45,5.0,1525,4.0,75
343,41.400347,2.196910,1095.135294,479.95,4.45,5.0,1525,4.0,75
342,41.388913,2.199311,1095.135294,479.95,4.45,5.0,1525,4.0,75
341,41.408480,2.192042,1095.135294,479.95,4.45,5.0,1525,4.0,75
340,41.398971,2.160674,1095.135294,479.95,4.45,5.0,1525,4.0,75
339,41.383585,2.112186,1095.135294,479.95,4.45,5.0,1525,4.0,75

In [31]:
# Specify the paths for the CSV files
csv_file_path = "../Downloads/foursquare_details.csv"

# Save DataFrame as CSV
data_foursquare.to_csv(csv_file_path, index=False) 

# Specify the file path for the CSV
csv_file_path = "../Downloads/yelp_details.csv"

# Save the DataFrame to CSV
data_yelp.to_csv(csv_file_path, index=False)