In [16]:
# imports
import pandas as pd
import requests
import time
import os   
import json

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [17]:
df2_barcelona = pd.read_csv("../Downloads/barcelona_bikes.csv")     

results = [] 

for index, row in df2_barcelona.iterrows():
    latitude = row['Latitude']
    longitude = row['Longitude']


    url = "https://api.foursquare.com/v3/places/search"

    params = {
        'll': f'{latitude},{longitude}',
        'categoryId': '13000,12013',    # for restaurants and bars
        'radius': 1000,
        'fields': 'name,location,rating,categories,distance,description,popularity,price',
        'sort': 'RATING'
    }

    headers = {
        "Accept": "application/json",
        "Authorization": "fsq3m5MbEYLkUCci/RnQ/24+FkYWsR79yM/2FgAV3+VN7ec="
    }

    response = requests.request("GET", url, params=params, headers=headers)
    if response.status_code != 200:
        print("Request failed. Status code:", response.status_code)
    else:
    # Parse the JSON response
        data = response.json()

Put your parsed results into a DataFrame

In [18]:
res = data.get('results', [])
fr = pd.DataFrame(res)   
results.append({
    'Latitude': latitude,
    'Longitude': longitude,
    'Foursq. Name': fr['name'],
    'Distance': fr['distance'],
    'Rating': fr['rating'],
    'Price': fr['price'],
    'Popularity': fr['popularity']
    })

In [19]:
data_foursquare = pd.DataFrame(results)

data_foursquare.head(1)

,Latitude,Longitude,Foursq. Name,Distance,Rating,Price,Popularity
0,41.398754,2.190212,0 Three Marks Coffee 1 ...,0 585 1 665 2 681 3 706 4 957 5...,0 9.4 1 9.3 2 9.3 3 9.1 4 9.1 5...,0 1.0 1 2.0 2 2.0 3 1.0 4 NaN 5...,0 0.997935 1 0.976092 2 0.991187 3 ...

In [73]:
# Specify the file path for the CSV
csv_file_path = "../Downloads/foursquare_places.csv"

# Save the DataFrame to CSV
data_foursquare.to_csv(csv_file_path, index=False)

In [74]:
# Transforming the data
data_foursquare['Average_dist_F'] = data_foursquare['Distance'].apply(lambda x: sum(x) / len(x))
data_foursquare['Average_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: sum(x) / len(x))
data_foursquare['Average_rating_F'] = data_foursquare['Rating'].apply(lambda x: sum(x) / len(x))

data_foursquare['Max_rating_F'] = data_foursquare['Rating'].apply(lambda x: max(x))
data_foursquare['Max_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: max(x))

data_foursquare['Min_rating_F'] = data_foursquare['Rating'].apply(lambda x: min(x))
data_foursquare['Min_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: min(x))

Put parsed results into a DataFrame

In [75]:
# Cleaning

data_foursquare.drop(columns=['Foursq. Name', 'Distance', 'Popularity', 'Rating', 'Price'], inplace=True)
data_foursquare

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Max_rating_F,Max_popularity_F,Min_rating_F,Min_popularity_F
0,41.388125,2.195187,702.9,0.989557,8.95,9.3,0.999425,8.7,0.972362
1,41.436687,2.169313,830.9,0.866251,8.40,8.6,0.984181,8.2,0.503398
2,41.409135,2.208818,779.8,0.980499,8.66,9.1,0.996439,8.5,0.961010
3,41.389462,2.131495,595.3,0.958578,8.79,9.1,0.998132,8.6,0.885793
4,41.391767,2.153216,725.0,0.988464,9.22,9.4,0.999966,9.1,0.948650
...,...,...,...,...,...,...,...,...,...
504,41.375185,2.159239,675.2,0.989664,9.17,9.3,0.999932,9.1,0.969424
505,41.383261,2.139266,668.0,0.969746,9.01,9.2,0.998132,8.8,0.937312
506,41.387306,2.163126,541.2,0.988022,9.25,9.4,0.999966,9.2,0.948650
507,41.398754,2.190212,726.4,0.973419,9.11,9.4,0.997935,8.9,0.894586
508,41.398754,2.190212,726.4,0.973419,9.11,9.4,0.997935,8.9,0.894586

In [76]:
#Create a file path for the CSV
csv_file_path = "../Downloads/foursquare_interests.csv"

#DataFrame saved as CSV
data_foursquare.to_csv(csv_file_path, index=False)

# Yelp ......Couldn't revise this aspect. Ran out of Yelp API

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

#Ran out of Yelp API

In [41]:
import requests

df2_barcelona = pd.read_csv("../Downloads/barcelona_bikes.csv") 

results = []

for index, row in df2_barcelona.iterrows():       # df2_barcelona is data from CityBikes API already activated in Yelp API request above.
    latitude = row['Latitude']
    longitude = row['Longitude']

    url = "https://api.yelp.com/v3/businesses/search?location=Barcelona"

    params = {
        # 'location': 'Barcelona, Spain',
        'latitude': latitude,
        'longitude': longitude,
        'radius': 1000,
        'categories': 'restaurants,bars',
        'sort_by': 'rating'
    }
    headers = {
        #"accept": "application/json",
        "Authorization": "Bearer 2vnQ4Qoc-jCzp0_n2E2FRUmzq1gbzQ0JROb5iIIzBtNA4litXD2Bx_EiLA1pcvSQTVlRHcpfPiVHkZqU3sFKKM3pPe-xGx63Y5GbYiJp2FDsJCr19ikoGHv-sHwXZXYx"
    }
    
    # Rate-limit API calls to avoid restriction
    time.sleep(1.0)
    
    response = requests.get(url, headers=headers)
    # Check if the request was successful (a status code 200 should be given) 
    if response.status_code != 200:
        print("Request failed. Status code:", response.status_code) # Check if the request was successful (a status code 200 should be given)
    else:
    # Parse the JSON response
        data = response.json()

In [260]:
yelp_results = data.get('businesses', [])
frame = pd.DataFrame(yelp_results)
results.append({
'Latitude': latitude,
'Longitude': longitude,
'Yelp Name': frame['name'],
'Distance': frame['distance'],
'Review count': frame['review_count'],
'Rating': frame['rating'],
'Price': frame['price']
})

Put your parsed results into a DataFrame

In [42]:
 # Specify the file path for the CSV
csv_file_path = "../Downloads/yelp_places.csv"

# Save the DataFrame to CSV
data_yelp.to_csv(csv_file_path, index=False)

In [ ]:
# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating

In [21]:
# Transforming the data
data_foursquare['Average_dist_F'] = data_foursquare['Distance'].apply(lambda x: sum(x) / len(x))
data_foursquare['Average_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: sum(x) / len(x))
data_foursquare['Average_rating_F'] = data_foursquare['Rating'].apply(lambda x: sum(x) / len(x))

data_foursquare['Max_rating_F'] = data_foursquare['Rating'].apply(lambda x: max(x))
data_foursquare['Max_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: max(x))

data_foursquare['Min_rating_F'] = data_foursquare['Rating'].apply(lambda x: min(x))
data_foursquare['Min_popularity_F'] = data_foursquare['Popularity'].apply(lambda x: min(x))

In [24]:
data_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 507 entries, 0 to 506
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Latitude      507 non-null    float64
 1   Longitude     507 non-null    float64
 2   Yelp Name     507 non-null    object
 3   Distance      507 non-null    object
 4   Review count  507 non-null    object
 5   Rating        507 non-null    object
 6   Price         507 non-null    object
dtypes: float64(2), object(5)
memory usage: 27.9+ KB

In [25]:
data_foursquare.describe()

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Max_rating_F,Max_popularity_F,Min_rating_F,Min_popularity_F
count,507.000000,507.000000,507.000000,507.000000,504.000000,507.000000,507.000000,507.000000,507.000000
mean,41.399739,2.168105,1980.614004,0.955652,8.857996,9.197830,0.996190,8.628994,0.820356
std,0.021109,0.024651,17039.750814,0.055936,0.443847,0.317623,0.006470,0.579430,0.259043
min,41.346775,2.109154,303.200000,0.577602,6.770000,7.600000,0.955138,5.800000,0.039059
25%,41.383591,2.149100,610.000000,0.954741,8.580000,9.100000,0.995314,8.300000,0.886311
50%,41.396141,2.170732,670.400000,0.975577,9.030000,9.300000,0.999675,8.800000,0.931282
75%,41.412057,2.187263,737.300000,0.989222,9.200000,9.400000,0.999912,9.100000,0.966182
max,41.462095,2.220691,222693.900000,0.998537,9.350000,9.500000,0.999980,9.200000,0.995741

In [26]:
# Transforming the data
data_yelp['Average_distance_Y'] = data_yelp['Distance'].apply(lambda x: sum(x) / len(x))
data_yelp['Average_review_count_Y'] = data_yelp['Review count'].apply(lambda x: sum(x) / len(x))
data_yelp['Average_rating_Y'] = data_yelp['Rating'].apply(lambda x: sum(x) / len(x))

data_yelp['Max_rating_Y'] = data_yelp['Rating'].apply(lambda x: max(x))
data_yelp['Max_review_count'] = data_yelp['Review count'].apply(lambda x: max(x))

data_yelp['Min_rating_Y'] = data_yelp['Rating'].apply(lambda x: min(x))
data_yelp['Min_review_count'] = data_yelp['Review count'].apply(lambda x: min(x))

In [27]:
# Further_cleaning

data_yelp.drop(columns=['Yelp Name', 'Distance', 'Review count', 'Rating', 'Price'], inplace=True)
data_yelp

,Latitude,Longitude,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Max_rating_Y,Max_review_count,Min_rating_Y,Min_review_count
0,41.388125,2.195187,1095.135294,479.95,4.45,5.0,1525,4.0,75
1,41.436687,2.169313,1095.135294,479.95,4.45,5.0,1525,4.0,75
2,41.409135,2.208818,1095.135294,479.95,4.45,5.0,1525,4.0,75
3,41.389462,2.131495,1095.135294,479.95,4.45,5.0,1525,4.0,75
4,41.391767,2.153216,1095.135294,479.95,4.45,5.0,1525,4.0,75
...,...,...,...,...,...,...,...,...,...
502,41.416793,2.205834,1095.135294,479.95,4.45,5.0,1525,4.0,75
503,41.410801,2.187244,1095.135294,479.95,4.45,5.0,1525,4.0,75
504,41.380318,2.154437,1095.135294,479.95,4.45,5.0,1525,4.0,75
505,41.362123,2.135619,1095.135294,479.95,4.45,5.0,1525,4.0,75
506,41.383261,2.139266,1095.135294,479.95,4.45,5.0,1525,4.0,75

In [28]:
data_yelp.describe()

,Latitude,Longitude,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Max_rating_Y,Max_review_count,Min_rating_Y,Min_review_count
count,507.000000,507.000000,5.070000e+02,5.070000e+02,5.070000e+02,507.0,507.0,507.0,507.0
mean,41.399739,2.168105,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
std,0.021109,0.024651,2.275982e-13,5.689956e-14,8.890556e-16,0.0,0.0,0.0,0.0
min,41.346775,2.109154,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
25%,41.383591,2.149100,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
50%,41.396141,2.170732,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
75%,41.412057,2.187263,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0
max,41.462095,2.220691,1.095135e+03,4.799500e+02,4.450000e+00,5.0,1525.0,4.0,75.0

In [29]:
# Top 10 restaurants according to rating...from Foursquare data
data_foursquare.sort_values('Max_rating_F', ascending=False).head(10)

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Max_rating_F,Max_popularity_F,Min_rating_F,Min_popularity_F
139,41.400101,2.184171,859.7,0.994763,9.23,9.5,0.99998,9.0,0.974430
449,41.404862,2.174799,396.7,0.995633,9.29,9.5,0.99998,9.1,0.971383
108,41.410314,2.175733,636.4,0.993843,9.27,9.5,0.99998,9.1,0.971383
36,41.406059,2.174047,425.8,0.994820,9.25,9.5,0.99998,8.9,0.971383
484,41.401061,2.169941,577.5,0.997083,9.27,9.5,0.99998,9.1,0.991698
165,41.401697,2.175767,455.9,0.997708,9.29,9.5,0.99998,9.1,0.992585
352,41.396984,2.166185,768.5,0.991404,9.28,9.5,0.99998,9.2,0.944547
351,41.400578,2.178885,596.8,0.994509,9.26,9.5,0.99998,9.1,0.962160
481,41.405446,2.166317,743.0,0.993843,9.27,9.5,0.99998,9.1,0.971383
478,41.404052,2.181199,638.5,0.996844,9.22,9.5,0.99998,8.9,0.988840

In [30]:
# Top 10 restaurants according to their rating.
data_yelp.sort_values('Max_rating_Y', ascending=False).head(10)

,Latitude,Longitude,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Max_rating_Y,Max_review_count,Min_rating_Y,Min_review_count
0,41.388125,2.195187,1095.135294,479.95,4.45,5.0,1525,4.0,75
333,41.410596,2.157990,1095.135294,479.95,4.45,5.0,1525,4.0,75
346,41.399017,2.124329,1095.135294,479.95,4.45,5.0,1525,4.0,75
345,41.382680,2.167120,1095.135294,479.95,4.45,5.0,1525,4.0,75
344,41.398167,2.175490,1095.135294,479.95,4.45,5.0,1525,4.0,75
343,41.400347,2.196910,1095.135294,479.95,4.45,5.0,1525,4.0,75
342,41.388913,2.199311,1095.135294,479.95,4.45,5.0,1525,4.0,75
341,41.408480,2.192042,1095.135294,479.95,4.45,5.0,1525,4.0,75
340,41.398971,2.160674,1095.135294,479.95,4.45,5.0,1525,4.0,75
339,41.383585,2.112186,1095.135294,479.95,4.45,5.0,1525,4.0,75

In [31]:
# Specify the paths for the CSV files
csv_file_path = "../Downloads/foursquare_details.csv"

# Save DataFrame as CSV
data_foursquare.to_csv(csv_file_path, index=False) 

# Specify the file path for the CSV
csv_file_path = "../Downloads/yelp_details.csv"

# Save the DataFrame to CSV
data_yelp.to_csv(csv_file_path, index=False)